@tailwind base;
@tailwind components;
@tailwind utilities;

.margin20 {
    margin: 20px;
}

.margin10 {
    margin: 10px;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: bold;
}

body {
    font-family: 'Roboto Mono', monospace;
}

/* .background-image {
    background-image: url('/background1.png');
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.regular-text {
    font-size: 12px;
}

.width-75 {
    max-width: 75%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.first-div {
    flex: 3; /* 75% width */
    /* background-color: lightblue; */
    padding: 20px 0px 20px 20px;
}

.second-div {
    flex: 1; /* 20% width */
    /* background-color: lightgreen; */
    padding: 20px;
}

.padding-20 {
    padding: 20px;
}

.padding-pie-chart {
    padding: 20px 20px 0px 20px;
}

.children-padding {
    padding: 0px 12px;
}

.child-padding {
    padding: 8px 0px;
}

.primary-color {
    color: #424a7b;
}

.secondary-color {
    color: #7054d1;
}

.socials-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.standard-font {
    font-family: Arial, Helvetica, sans-serif;
}

.custom-social-button {
    padding: 10px;
}